#pratroination {
    width: 35%;
    height:100%;
    margin-left: 400px;
}
#img1 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
}
#img2 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
    float: right;
    margin-top: -380px;
}
#img4 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
    
}
#img5 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
    float: right;
    margin-top: -380px;
}
#img6 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
}
#img7 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
    float: right;
    margin-top: -380px;
}
#img8 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
}
#img9 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
    float: right;
    margin-top: -380px;
}
#img10 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
}
#img11 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
    float: right;
    margin-top: -380px;
}
#img12 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
}
#img13 {
    width: 40%;
    height: 50%;
    margin-left: 100px;
    float: right;
    margin-top: -380px;
}
#imgs {
    margin-left: 350px;
    
}
#imgs1 {
    margin-left: 1000px;
}
#imgs2 {
    margin-left: 1000px;
}
#imgs3 {
    margin-left: 1000px;
}
#imgs4 {
    margin-left: 1000px;
}
#imgs5 {
    margin-left: 1000px;
}
#imgs6 {
    margin-left: 1000px;
}